* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #6a329f;
    color: white;
}

.logo {
    margin-right: auto; 
    height: 50px; 
    width: auto;
}

.header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin: 20px 0;
}
input.btn{
    width: 120px;
    height: 35px;
    border-radius: 20%;
    background-color: #6A329F;
    color: white;
    border: none;
    cursor: pointer;
}
input.btn:hover{
    background-color: #d9d2e9;
}
.announceBuy, .announceRent {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.announceBuy .list, .announceRent .list {
    width: 250px !important;
    margin: 10px; 
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
}
.announceBuy a, .announceRent a {
    text-decoration: none;
    color: inherit; 
}
button.prev-buy, button.next-buy, button.prev-rent, button.next-rent {
    width: 120px; 
    height: 40px; 
    border-radius: 8px;
    background-color: #6a329f;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
button:hover {
    background-color: #d9d2e9;
}
.button-container {
    display: flex;
    justify-content: center; 
    margin: 10px 0; 
}

.button-container button {
    margin: 0 30px; 
}
.list {
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 10px; 
}
.announceBuy .list:hover, .announceRent .list:hover, .logo:hover  {
    transform: scale(1.02);
}
.list-content {
    padding: 15px;
    text-align: justify;
    width: 100%;
    height: 400px;
}
.list-content h6 {
    font-size: 1.2em;
    margin: 0 0 8px;
}
.list-content p {
    color: #555;
    margin: 0;
    font-size: 12px;
}
.list-details {
    flex: 1;
}
.announceBuy .list img, .announceRent .list img {
    width: 100%; /* Make image fill the card width */
    height: auto; /* Maintain aspect ratio */
    display: block;
}
@media (max-width: 768px) {
    .announceBuy .advert, .announceRent .advert {
        width: 100%; /* Full width on smaller screens */
    }
}